@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/HelveticaNeue.ttc");
}

.mainPage {
  width: 1920px;
  height: 1080px;
  background-image: url("./images/shutterstock_2189773743\ 1.png");
  /* display: none; */
}
.mainPage img {
  margin-top: 25px;
  margin-left: 70px;
}
.borderBottom {
  border-bottom: 1px solid #1a1a1a;
  width: 1780px;
  margin-left: 70px;
  margin-top: 15px;
}
.mainPage .LOGO-40 {
  margin-left: 1076px;
  margin-top: 430px;
  position: relative;
}
.resumeButton {
  width: 464px;
  height: 60px;
  margin: 513px 728px 507px 728px;
  border-radius: 8px;
  background: #1a1a1a;
  color: white;
  position: absolute;
  cursor: pointer;
  font-family: "HelveticaNeue";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
