@font-face {
  font-family: "HelveticaNeue";
  src: url("../font/HelveticaNeue.ttc");
}
*body {
  max-width: 1920px;
  font-family: "HelveticaNeue";
}

/* First page stylize */
.mainPage {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url("./images/shutterstock_2189773743\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.mainPage img {
  width: 236px;
  padding: 25px 0 25px 70px;
}
.mainPage .LOGO-40 {
  width: 18%;
  top: 200px;
  left: 56%;
  position: relative;
}
.resumeButton {
  width: 25%;
  height: 53px;
  margin-top: 250px;
  left: 40%;
  border-radius: 8px;
  background: #1a1a1a;
  color: white;
  position: absolute;
  cursor: pointer;
  font-family: "HelveticaNeue";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.borderBottom {
  border-bottom: 1px solid #1a1a1a;
  width: 90%;
  margin: 0 auto;
}
/* First page stylize */
.threeSectionParent {
  max-width: 1920px;
  width: 100%;

  display: none;
}
.threeSection {
  width: 60%;
  background-color: #f9f9f9;
}
/* Second page section stylize  */
.personalInfo {
  width: 100%;
  background-color: #f9f9f9;
  display: none;
}
.personalPage {
  width: 100%;
}
.personal_info_button {
  width: 40px;
  height: 40px;
  border-style: none;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2.5rem;
  left: 2rem;
  cursor: pointer;
}

.persInfoBox {
  width: 70%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  border-bottom: 1px solid #1a1a1a;
  margin-top: 5%;
}
.title {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.3px;
  font-family: "HelveticaNeue";
}
.pages {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  text-align: Right;
}
.personalPageform {
  width: 73%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15%;
}
.inputbox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.name_and_last_name {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.name_and_last_name p {
  font-size: 13px;
  font-family: "HelveticaNeue";
  font-style: Light;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.labelName,
.lastName {
  font-family: "HelveticaNeue";
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  margin-bottom: 2%;
}
#name {
  padding: 14px 16px;
  height: 40px;
  border-radius: 4px;
  font-family: "HelveticaNeue";
  color: rgba(0, 0, 0, 0.6);
}
#name:focus {
  outline: 0;
}
#last_name {
  padding: 14px 16px;
  height: 40px;
  border-radius: 4px;
  font-family: "HelveticaNeue";
  color: rgba(0, 0, 0, 0.6);
}
#last_name:focus {
  outline: 0;
}
.upload {
  margin-top: 15%;
}
.upload_text {
  width: 100%;
  font-family: "HelveticaNeue";
  font-size: 18px;
  font-weight: 500;
  line-height: 21.98px;
}
.uploadButton {
  width: 107px;
  height: 27px;
  border-radius: 4px;
  margin-left: 3%;
  border-style: none;
  background-color: #0e80bf;
  color: #ffffff;
  font-family: "HelveticaNeue";
  font-size: 14px;
  line-height: 16.7px;
  font-weight: 400;
  cursor: pointer;
}
.textareaBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 15%;
}
.textareaBox label {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  font-family: "HelveticaNeue";
  margin-bottom: 2%;
}
#aboutMe {
  padding: 14px 16px;
  height: 104px;
  width: 100%;
}
#aboutMe::placeholder {
  font-size: 14px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  color: rgba(0, 0, 0, 0.6);
}
#aboutMe:focus {
  outline: 0;
}
.emailBox {
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}
.emailBox label {
  font-size: 16px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-weight: 500;
}
#email {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 4px;
  margin-top: 2%;
}
#email:focus {
  outline: 0;
}
#email::placeholder {
  font-size: 15px;
  font-family: "HelveticaNeue";
  color: rgba(0, 0, 0, 0.6);
}
.emailBox p {
  font-size: 13px;
  font-family: "HelveticaNeue";
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.mobileNumBox {
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
}
.mobileNumBox label {
  font-size: 16px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-weight: 500;
}
#mobileNumber {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 4px;
  margin-top: 2%;
}
#mobileNumber:focus {
  outline: 0;
}
.mobileNumBox p {
  font-size: 13px;
  font-family: "HelveticaNeue";
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.nextPageButton {
  width: 151px;
  height: 48px;
  margin-top: 20%;
  float: right;
  font-size: 16px;
  font-family: "Helvetica Neue";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.8px;
  border-radius: 4px;
  color: #ffffff;
  background: #6b40e3;
  border: none;
  cursor: pointer;
}
/* Second page section stylize  */
/* experienceSection stylize */
.experienceSection {
  width: 100%;
  background-color: #f9f9f9;
  display: none;
}
.personal_info_button_secPage {
  width: 40px;
  height: 40px;
  border-style: none;
  border-radius: 50%;
  background-color: #fff;
  top: 4rem;
  left: 2rem;
  cursor: pointer;
  position: absolute;
}
.expHeader {
  width: 100%;
}
.expPageBox {
  width: 73%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0px auto;
  margin-top: 4rem;
  border-bottom: 1px solid #1a1a1a;
}
.expTitle,
.eduTitle {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.3px;
  font-family: "HelveticaNeue";
}
.expPageform {
  width: 73%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15%;
}
.postBox {
  width: 100%;
}
.postBox label {
  font-size: 16px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-weight: 500;
  margin-top: 33px;
}
#post {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 4px;
  margin-top: 2%;
}
#post:focus {
  outline: 0;
}
.postBox p {
  font-size: 13px;
  font-family: "HelveticaNeue";
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.employerBox {
  width: 100%;

  margin-top: 10%;
}
.employerBox label {
  font-size: 16px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-weight: 500;
  margin-top: 33px;
}
#employer {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 4px;

  margin-top: 2%;
}
#employer:focus {
  outline: 0;
}
.employerBox p {
  font-size: 13px;
  font-family: "HelveticaNeue";
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.inputboxExpPage {
  width: 100%;
  margin-left: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.job_start_and_end {
  width: 100%;
  margin-right: 5%;
  margin-top: 10%;
}
.job_start_and_end label {
  font-size: 16px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-weight: 500;
  margin-top: 33px;
}
#startDate,
#endDate {
  width: 100%;
  height: 43px;
  padding: 14px 16px;
  border-radius: 4px;
}

#startDate,
#endDate:focus {
  outline: 0;
}

.descriptionBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 15%;
}
.descriptionBox label {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  font-family: "HelveticaNeue";
  margin-bottom: 2%;
}
#description {
  padding: 14px 16px;
  height: 104px;
  width: 100%;
}
#description::placeholder {
  font-size: 13px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  color: rgba(0, 0, 0, 0.6);
}
#description:focus {
  outline: 0;
}
.border_bottom {
  border-bottom: 1px solid #c1c1c1;
  width: 100%;
  margin-top: 15%;
}
.expAddBtn {
  width: 289px;
  height: 48px;
  background-color: #62a1eb;
  border-radius: 4px;
  padding: 18px, 60px, 18px, 60px;
  border-style: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.54px;
  font-family: "HelveticaNeue";
  line-height: 100%;
  cursor: pointer;
  margin-top: 15%;
}
.next_and_back_btn_box {
  width: 100%;
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back_btn {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 113px;
  height: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.next_btn {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 151px;
  height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}
/* experienceSection stylize */
/* educationSection stylize */
.educationSection {
  width: 100%;
  background-color: #f9f9f9;
  display: none;
}

.education_button {
  width: 40px;
  height: 40px;
  border-style: none;
  border-radius: 50%;
  background-color: #fff;
  top: 4rem;
  left: 2rem;
  cursor: pointer;
  position: absolute;
}

.eduHeader {
  width: 100%;
}

.eduPageBox {
  width: 73%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 12px 0;
  margin-top: 5%;
  border-bottom: 1px solid #1a1a1a;
}
.educationBox {
  width: 100%;
}
.eduPageform {
  width: 73%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15%;
}
.educationBox label {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  font-family: "HelveticaNeue";
}
#education {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border-radius: 4px;
}
#education:focus {
  outline: 0;
}
#education::placeholder {
  font-size: 13px;
  font-family: "HelveticaNeue";
  color: rgba(0, 0, 0, 0.6);
}
.educationBox p {
  font-size: 13px;
  font-family: "HelveticaNeue";
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.inputboxEduPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15%;
}
.degreeForm {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 2px;
  margin-top: 5.3%;
}
.degreeForm label {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  font-family: "HelveticaNeue";
}
#degrees,
#eduEndDate {
  width: 95%;
  height: 50px;
  padding: 14px 16px;
  border-radius: 4px;
}
#degrees,
#eduEndDate:focus {
  outline: 0;
}
.eduEnd {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 2px;
}

.eduEnd label {
  font-size: 16px;
  line-height: 21px;
  font-family: "HelveticaNeue";
  font-weight: 500;
  margin-top: 33px;
}

#eduEndDate:focus {
  outline: 0;
}
.end_btn {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 151px;
  height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}
.back_to_exp_pg_btn {
  border: none;
  background: #6b40e3;
  border-radius: 4px;
  width: 113px;
  height: 48px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  cursor: pointer;
}
/* educationSection stylize */
.is_valid {
  border: 3px solid #98e37e;
}
.not_valid {
  border: 3px solid #ef5050;
}

.resumePhotoBox,
.resumeLogo {
  display: none;
}
.email_icon,
.phoneIcon {
  display: none;
}

.resumeMainSection {
  width: 40%;
  margin: 4% 4%;
  position: relative;
}
.resumeAbout {
  color: #f93b1d;
  font-size: 18px;
  font-weight: 700;
  font-family: "HelveticaNeue";
  line-height: 21.98px;
  margin-top: 10%;
}
.resumeAboutText,
.resumeExpEmployer,
.resumeExperienceDescription,
.resumeEducationPlace {
  max-width: 430px;
  width: 100%;
  margin-top: 2%;
  font-size: 16px;
  font-family: "HelveticaNeue";
  color: #000000;
  line-height: 22px;
}
.resumeFullname {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41.51px;
  color: #f93b1d;
  margin-bottom: 5%;
  /* overflow: auto; */
}
.logo12 {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 100%;
}
.resumeEmailBox {
  display: flex;
}
.emailIcon {
  width: 16.67px;
  height: 16.67px;
  display: none;
  margin-right: 0.5rem;
}
.resumeMobileBox {
  display: flex;
  margin-top: 0.8rem;
}
.phoneIcon {
  width: 16.67px;
  height: 16.67px;
  display: none;
  margin-right: 0.5rem;
}
.resumeExperienceTitle,
.resumeEducationTitle {
  color: #f93b1d;
  font-size: 18px;
  font-weight: 700;
  font-family: "HelveticaNeue";
  line-height: 21.98px;
  margin-top: 10%;
}
.resumeExperienceDate {
  color: #909090;
  margin-top: 0.5rem;
  font-size: 15px;
  font-style: italic;
  line-height: 19.17px;
  font-weight: 400;
}
.bottomLine {
  border-bottom: 1px solid #c8c8c8;
  margin-top: 2rem;
}
